footer{
    margin: 0;
    padding: 0;
    color: var(--third-text-color);
    margin-top: 10px;
    padding: 5px;
}
footer p{
    font-size: 0.95rem;
}
.pagination span {
    color:var(--third-text-color)
}
.pagination a {
    color:var(--second-text-color)
}
.pagination .current:hover, .pagination a:hover {
    background-color: var(--sec-bkg)
}
.pagination .current, .pagination a {
    outline: 0;
    border: 1px #dcdbde solid;
    background-color: transparent;
    font-size: .9rem;
    width:2.25rem;
    height :2.25rem;
    text-align:center;
    line-height: 1.25;
    margin:0 2px;
    display: flex;
    align-items: center;
   justify-content :center;
    border-radius: .25rem;
    transition: var(--post-bkg-color) .2s ease-in-out;
    color:#898990;
}
.pagination .current {
    background-color: #ededef;
    color:#75767d;
}
.pagination {
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
    width: 100%;
    display: flex;
    justify-content: center;
}
