
<%
page.layout = "about"
page.title = theme.about.title || __('about.title')
page.subtitle = theme.about.subtitle || __('about.subtitle')
%>

<article class="page">
    <div id="post-meta-m" style="padding-bottom:0;">
        <div class="post-meta" id="post-meta">
            <h3><%= page.title %></h3>
        </div>
    </div>
</article>